.env
node_modules/
uploads/
dist/
data/
*meetingcopilot-*.json
_*/
.cursor/
.cursorignore
StartMeetCopilot.ps1
ProtoMeet/
.vscode/
start-vercel-mcp.ps1
!server/__tests__
models/
diagrams/

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
*.md
.roo/
scripts/

.cursorrules
.env.example
.roomodes
.taskmasterconfig
.windsurfrules
server/vercel.json

.vercel
.vercelignore
server/vercel-manifest.json

bolt-meet-copilot-poc
docs/
